- var task = changeSummary.latest
- var queue = changeSummary.queue
- var created = changeSummary.changeType.created
- var updated = changeSummary.changeType.updated
- var deleted = changeSummary.changeType.deleted

if task.ticketNumber
  | The merge task for #{task.ticketNumber} was #{created ? "created in" : deleted ? "deleted from" : "updated in"} #{queue.name}.
else
  | The following merge task was #{created ? "created in" : deleted ? "deleted from" : "updated in"} #{queue.name}.

| #{"\n"}
| #{task.ticketNumber}
| #{task.description}
| #{"\n"}

each field in changeSummary.fields
  | Field: #{field}
  | Change: #{created ? "Added: " + diff.after[field] : deleted ? "Removed: " + diff.before[field] : "Before: " + diff.before[field] + " | After: " + diff.after[field]}
  | #{"\n"}
