doctype html
link(rel="stylesheet", href="styles/table.css", data-inline)
link(rel="stylesheet", href="styles/main.css", data-inline)

- var task = changeSummary.latest
- var queue = changeSummary.queue
- var created = changeSummary.changeType.created
- var updated = changeSummary.changeType.updated
- var deleted = changeSummary.changeType.deleted

body(style={padding: "1rem"})
  if task.ticketNumber
    p The merge task for #[b #{task.ticketNumber}] was #{created ? "created in" : deleted ? "deleted from" : "updated in"} #[i #{queue.name}].
  else
    p The following merge task was #{created ? "created in" : deleted ? "deleted from" : "updated in"} #[i #{queue.name}].

  h2(style={"margin-bottom": 0}) #{task.ticketNumber}
  p(style={"margin-top": 0}) #{task.description}

  table.table(style={"max-width": "37.5rem"})
    thead
      tr
        th.text-right(scope="col") Field
        th.text-left(scope="col") Change
    tbody
      each field in changeSummary.fields
        tr
          th.text-right(scope="row") #{field}
          td
            div.diff
              if created
                ins(aria-label="added value") #{diff.after[field]}
              else if deleted
                del(aria-label="removed value") #{diff.before[field]}
              else
                del(aria-label="removed value") #{diff.before[field]}
                | #{" "}
                ins(aria-label="added value") #{diff.after[field]}
